<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Melodyssey Signup</title>
</head>
<body>
  <h1>Melodyssey Signup</h1>
  
  <!-- Signup Form -->
  <form action="/signup" method="POST">
    <label for="signupFirstName">First Name:</label>
    <input type="text" id="signupFirstName" name="firstname" required placeholder="First Name">
    <label for="signupLastName">Last Name:</label>
    <input type="text" id="signupLastName" name="lastname" required placeholder="Last Name">
    <label for="signupUsername">Username:</label>
    <input type="text" id="signupUsername" name="username" required placeholder="Username">
    <label for="signupEmail">Email:</label>
    <input type="email" id="signupEmail" name="email" required placeholder="Email">
    <label for="signupPassword">Password:</label>
    <input type="password" id="signupPassword" name="password" required placeholder="Password">
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>